<!-- info footer -->
<div class="container">
    <div class="row text-center">
        <a class="btn btn-link" href="/politica">Política de Privacidade</a>
    </div>
    <div class="row text-center pt-2">
        <p><i>Criamos , Produzimos e Vendemos em Atacado</i> | R. Aimorés, 99 - Bom Retiro, São Paulo - SP, 01122-011 |
            mvonline@mvonline.com.br</p>
        
    </div>
    
    <div class="row text-center">
        <p>Desenvolvido por Peter Kim</p>
    </div>
    
    <a href="https://wa.me/+5511973364612/?text=Ol%C3%A1%20Mvonline!" style="z-index:99;bottom:20px;right:20px;position:fixed;">
        <img src="img/whatsapp.svg" alt="whatsapp contato" width="64" height="64">  
    </a>
</div>

<section class="cookie">
    <div class="container">
      <p>Cookies são utilizados em nosso site. Ao aceitar, você concorda com o uso de cookies. <a href="/politica">Política de Privacidade.</a></p>
      <button class="cookie-btn">Aceitar</button>
    </div>
  </section>

<script src="bootstrap.min.js"></script>
<script src="myjs.js"></script>
</body>
</html>