<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1W2212MFHD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-1W2212MFHD');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Mono' rel='stylesheet'>

    <!-- Bootstrap CSS v5.0.0-beta3-->
    <link rel="stylesheet" href="bootstrap.min.css">

    <!-- mycss -->
    <link rel="stylesheet" href="mycss.css">

    <title>Milvest Atacado Bom Retiro | Vestidos e Roupas Qualidade Atacado</title>
    <meta name="description" content="Criamos, Produzimos e Vendemos em Atacado. Loja em Bom Retiro, rua aimores 101. Site institucional da Milvest.">

    <meta name="keywords" content="Milvest, bomretiro, bom retiro, atacado, aimores, vestido, vestidos, blusa, calca, calça, saia, milvest, instagram, whatsapp, outono, inverno, 2021, catálogo, catalogo, moda, qualidade, roupa, rua aimores atacado, rua aimores, vestido rua aimores, vestido atacado">

    <meta name="author" content="Peter Kim">

    <link rel="shortcut icon" href="img/logo.svg" type="image/x-icon">
    
</head>
<body>