<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="container" style="padding-top: 80px;">
    <div class="row text-center">
        <h2>Ops! Parece que você tentou acessar uma página que não existe!</h2>
    </div>
</div>

<%- include('./partials/footer') %>