<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="container" style="padding-top: 80px;">
    <div class="row text-center">
        <h2>Ops! Houve um problema interno com o nosso servidor, tente de novo ou mais tarde!</h2>
    </div>
</div>

<%- include('./partials/footer') %>