<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<section class="" style="padding-top:70px">
    <div class="container">
        <div class="row text-center mb-5">
            <h1>Bem-vindo ao FAQ!</h1>
        </div>
        <div class="row">
            <h2>Qual é a quantidade minima para compra?</h2>
            <p>12 peças</p>
        </div>
        <div class="row">
            <h2>Qual horário comercial?</h2>
            <p>7:30 às 17:30, Segunda a Sexta</p>
        </div>
        <div class="row">
            <h2>Eu consigo comprar pelo o Whatsapp?</h2>
            <p>Sim pelo o Whatsapp, o App da Milvest ou prensencial</p>
        </div>
        <div class="row">
            <h2>Qual é o método de pagamento aceito?</h2>
            <p>Cartão, boleto e transferência bancária</p>
        </div>
    </div>
</section>


<%- include('./partials/footer') %>