<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="container">
    <div class="row text-center">
        <h1>Bem-vindo ao localizacao</h1>
    </div>
</div>

<%- include('./partials/footer') %>